@media (min-width: 300px) and (max-width: 390px) {
  #oxygen-cycle-content-box {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
  #svg-oxygen-cycle-progress {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 390px) and (max-width: 767px) {
  #oxygen-cycle-content-box h3 {
    font-size: 12px !important;
  }
}
