.swiper {
  --swiper-navigation-color: #058669;
  --swiper-pagination-color: #058669;
}

.parallaxBg{
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}