.reviewsSwiper {
  --swiper-navigation-color: #058669;
  --swiper-pagination-color: #058669;
}

.reviewsSwiper .parallaxBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.reviewsSwiper .swiper-button-prev:after,
.reviewsSwiper .swiper-rtl .swiper-button-next:after {
  content: '' !important;
}

.reviewsSwiper .swiper-button-next:after,
.reviewsSwiper .swiper-rtl .swiper-button-prev:after {
  content: '' !important;
}

.reviewsSwiper .swiper-button-next svg,
.reviewsSwiper .swiper-button-prev svg {
  width: 24px !important;
  height: 24px !important;
}