.before-after-slider__second-photo-container,
.before-after-slider__first-photo-container {
  height: 100% !important;
}

.before-after-slider__second-photo-container > img,
.before-after-slider__first-photo-container > img {
  height: 100% !important;
  object-fit: cover;
  -webkit-user-drag: none; /* For WebKit browsers */
  user-select: none; /* Prevent text selection */
  pointer-events: none; /* Prevent all mouse events */
}