@font-face {
  font-family: 'SourceHanSansCN';
  src: url('/fonts/SourceHanSansCN-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceHanSansCN';
  src: url('/fonts/SourceHanSansCN-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceHanSansCN';
  src: url('/fonts/SourceHanSansCN-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceHanSansCN';
  src: url('/fonts/SourceHanSansCN-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceHanSansCN';
  src: url('/fonts/SourceHanSansCN-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceHanSansCN';
  src: url('/fonts/SourceHanSansCN-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceHanSansCN';
  src: url('/fonts/SourceHanSansCN-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
